[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
    padding: 0px;
}

.sb-thumbnail {
    width: 30px;
    height: 30px;
}

.sb-section {
    width: 100%;
    display: table;
}

.sb-section-div {
    display: table-cell;
    width: 100%;
}

.sb-section-spacer {
    padding-right: 1em;
}

.sb-section-div-add-name {
    width: 50%;
    padding-right: 1em;
}

.sb-section-div-add-url {
    width: 50%;
    padding-right: 1em;
}

.sb-section-input {
    width: 100%;
}

/*.sb-section-button {*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
/*}*/

/*.sb-section-button-add {*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
/*}*/

.sb-panel {
    margin-bottom: 5px;
    /*background-color: #fff;*/
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.sb-panel-footer {
    font-size: 10px;
    color: #989898;
    padding: 10px 15px;
    border: 0;
 }

.sb-panel-heading {
    background-color: #4e8696;
}

.sb-sub-panel-heading {
    background-color: #646464;
}

.close-button {
    float: right;
    background-color: #61a2b4;
    color: #ffffff;
}

.close-button:hover {
    background-color: #4e8696;
    color: #ffffff;
}

.sb-fav-button {
    background-color: #8d8d8d;
    color: #ffb925;
}

.sb-fav-button:hover {
    background-color: #ffffff;
}

.sb-fav {
    color: #ffb925;
    font-size: 16px;
    font-weight: 500;
}

.cell {
    margin-bottom: 5px;
}

.cell-body {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 5px 10px;
    color: #7d7d7d;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-wrap: none;
    overflow: hidden;
}

.cell-body:hover {
    background-color: #8effb0;
    border-radius: 4px;
    padding: 5px 10px;
    color: #7d7d7d;
}

.sb-cog {
    margin-bottom: -20px;
    position: absolute;
    top:8px;
    right: 14px;
    color: #b4b4b4;
    font-size: 20px;
}

.sb-cog:hover {
    color: #000000;
}


.add_menu {
    /*width: 200px;*/
    /*height: inherit;*/
    /*background-color: #68b1c5;*/
    /*border-radius: 4px;*/
    /*padding: 10px 10px;*/

    height: 100px;
    background-color: #d00;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
}

.add_cell {
    /*margin-bottom: -20px;*/
    float: right;
    /*color: #dddddd;*/
    /*font-size: 14px;*/
    /*font-weight: 500;*/
}

/*.smaller {*/
    /*font-size: 15pt;*/
/*}*/

/*.lighter {*/
    /*color: #aaaaaa;*/
/*}*/

/*p.preparation {white-space: pre}*/

/*.right-button {*/
    /*float: right;*/
    /*padding: 10px;*/
    /*font-size: 125%;*/
/*}*/

/*.bs-callout{padding:10px 20px;margin:10px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}*/
/*.bs-callout h4{margin-top:0;margin-bottom:5px}*/
/*.bs-callout-info{border-left-color:#1b809e}*/
/*.bs-callout-info h4{color:#1b809e}*/
