[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
    background-image: linear-gradient(#acacac, #e2e2e2);
}

.sb-dialogue-text {
    font-size: 14px;
    color: #323232;
    font-weight: 400;
}

.sb-table {
    width: 100%;
    margin-bottom: 10px;
}

.sb-tr {
    width: 100%;
}

.sb-td {
    font-size: 14px;
    color: #737373;
    border: 1px solid #d1d1d1;
}

.sb-td-label {
    padding: 6px 12px;
    width:100px;
    background-color: #eeeeee;
}

.sb-td-value {
    /*padding: 6px 12px;*/
    width: calc(100% - 100px);
    background-color: #FFFFFF;
}

.sb-td-value-2 {
    padding: 6px 12px;
    width: calc(100% - 100px);
    background-color: #FFFFFF;
}

.sb-form-notes {
    width: 100%;
    resize:vertical;
    padding: 6px 12px;
    border: 0;
}

.sb-form-notes:focus {
    outline: 0;
    background-color: #8effb0;
}

.sb-form-input {
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 0;
}

.sb-form-input:focus {
    /*border-color: #66afe9;*/
    outline: 0;
    background-color: #8effb0;
}

/*padding T R B L*/
/*box shadow ? DISTANCE BLUR ? COLOUR*/

.sb-container {
    padding: 10px;
}

.sb-float-right {
    float: right;
}

.sb-header {
    margin: 0 0 0px 0;
    padding: 15px 5px 15px 15px;
    min-height: 50px;
    /*background-color: #1d748e;*/
    background-image: linear-gradient(#575757, #3b3b3b);
}

.sb-header-search {
    color: #777777;
    width: calc(100% - 100px);
    height: 30px;
    background-color: white;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 10px;
    border: 0;
    border-radius: 5px;
}

.sb-header-search:focus {
    outline: 0;
    border: 2px solid #8effb0;
}

.sb-header-options {
    color: #ffffff;
}

/**********************************
 CELL
 **********************************/


.sb-cell-header {
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
    color: #777777;
    padding: 4px 0 0 5px;
    display: inline-block;
}

.sb-cell-header-small {
    width: calc(100% - 30px);
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.sb-cell-header-medium {
    width: calc(100% - 75px);
    font-size: 14px;
    padding: 6px 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
}

.sb-cell-header-large {
    width: calc(100% - 30px);
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.sb-medium-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;

    /*-webkit-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);*/
    /*-moz-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);*/
    /*box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);*/
}

.sb-large-image-container {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    margin-bottom: 5px;
    overflow: hidden;
}

.sb-large-image {
    /*overflow: hidden;*/
    display: block;
    height: 80px;
    margin: auto;
    /*box-shadow: inset 0 0 20px #000000;*/
    /*-webkit-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);*/
    /*-moz-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);*/
    /*width: 100%;*/
    /*margin-top: -25%;*/
    /*position: relative;*/
    /*top:0;*/
    /*left:0;*/
    /*bottom:0;*/
    /*right:0;*/
}

.sb-cell {
    box-sizing: border-box;
    display: inline-block;
    background-color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #404f4d;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15);
    width: calc(20% - 10px);
}

@media screen and (max-width: 1200px) {
    .sb-cell {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 700px) {
    .sb-cell {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 500px) {
    .sb-cell {
        width: calc(100% - 10px);
    }
}

.sb-cell:hover {
    /*border: solid 2px #ffcb1f;*/
    /*padding: 3px;*/
    background-color: #8effb0;
    /*-webkit-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);*/
    /*-moz-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);*/
    /*box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);*/
}

/**********************************
 EDIT CELL
 **********************************/

.sb-edit-cell-trash {
    float: right;
}

.sb-edit-cell-ok {
    float: right;
}

.sb-dialogue-header {
    display: inline-block;
    font-size: 18px;
    font-family: Arial;
    font-weight: 800;
    color: #202e47;
    margin-bottom: 10px;
}

.sb-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0 ,0.75);
}

.sb-dialogue {
    width: 75%;
    max-width: 500px;
    background-color: white;
    position: absolute;
    top:20%;
    left: 0;
    right: 0;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin: auto;

    -webkit-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);
    -moz-box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);
    box-shadow: 20px 20px 48px -15px rgba(0,0,0,0.32);
}

.sb-edit-cell-form {
    float: left;
    padding: 10px 10px 0px 10px;
}

.sb-edit-cell-thumbnail {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #b1b1b1;
    margin-right: 10px;
}

.sb-image-remove {
    width: 30px;
    height: 30px;
    float: left;
    color: #d80927;
    margin: 0 0 0 10px;
    border: 1px solid #b1b1b1;
}

.sb-border {
    border: 1px solid #b1b1b1;
}