<div class="container">

    <!--<div class="row">-->
    <!--<div class="alert alert-danger" ng-show="page_load_error"> {{ page_load_error }}</div>-->
    <!--<div ng-show="!finished_loading"><h4 style="color: #aaaaaa"> Loading ... please wait a moment </h4></div>-->
    <!--</div>-->

    <div ng-show="finished_loading">


        <div class="panel sb-panel panel-heading sb-panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sb-section">
                        <div class="sb-section-div sb-section-spacer">
                            <input class="form-control input-sm sb-input-search" placeholder="Search..." ng-model="searchFor"/>
                        </div>
                        <div class="sb-section-div">
                            <button ng-click="show_edit_window()" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="updateing_cell || adding_cell">
            <div class="panel sb-panel panel-heading sb-sub-panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" ng-show="add_cell_error" role="alert">{{add_cell_error}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="sb-section" >
                            <div class="sb-section-div sb-section-div-add-name">
                                <input class="form-control input-sm" type="text" placeholder="Name" ng-model="new_cell_data.name"/>
                            </div>

                            <div class="sb-section-div sb-section-div-add-url">
                                <input class="form-control input-sm" type="text" placeholder="URL" ng-model="new_cell_data.url"/>
                            </div>

                            <div ng-show="updateing_cell" class="sb-section-div sb-section-div-add-url">
                                <button ng-click="delete_cell(new_cell_data)" type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>

                            <div class="sb-section-div sb-section-spacer">
                                <button ng-click="accept_clicked(new_cell_data)" type="button" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>

                            <div class="sb-section-div">
                                <button ng-click="hide_edit_window()" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <form name="myForm" style="margin: 0; padding: 10px 0  0">
                            <input style="display: inline-block; background-color: #8d8d8d; color: #d7d7d7; padding: 0; margin: 0; border: 0" class="btn btn-primary" type="file" ng-model="new_image" name="file"
                                   accept="image/*" ngf-max-size="1MB"
                                   ngf-model-invalid="errorFile">

                            <img ngf-thumbnail="new_image || new_cell_data.image" class="sb-thumbnail img-circle">

                            <button class="btn btn-danger" ng-click="new_image = null" ng-show="new_image">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <div style="display: inline-block;">
                                <button class="btn sb-fav-button" ng-show="new_cell_data.fav" ng-click="set_favourite(new_cell_data, false)" >
                                    <span class="glyphicon glyphicon-star "></span>
                                </button>

                                <button class="btn sb-fav-button"  ng-hide="new_cell_data.fav" ng-click="set_favourite(new_cell_data, true)">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div ng-repeat="cell in cells | filter:{name: searchFor} | orderBy: ['-fav', 'name']">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="cell" ng-click="launch(cell.url)">
                        <div class="cell-body">

                            <img ng-src="{{cell.image}}" class="img-circle" width="30" height="30">

                            <span ng-click="show_edit_window(cell)"
                                  class="glyphicon glyphicon-option-vertical sb-cog"></span>

                            <span ng-show="{{cell.fav}}" class="glyphicon glyphicon-star sb-fav"></span>

                            <span>{{cell.name}}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel">
                    <div class="panel-footer sb-panel-footer">
                        shiny-board v1.0.0
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>