<div class="sb-container">

    <!-- -------------------------------- -->
    <!-- HEADER -->
    <!-- -------------------------------- -->

    <div class="sb-header"><!--
        --><input class="sb-header-search" placeholder="Search..." ng-model="searchFor"/><!--
        --><button ng-click="show_cell_dialogue()" type="button" class="sb-button sb-button-white"><!--
            --><span class="glyphicon glyphicon-plus"></span><!--
        --></button><!--
        --><button ng-click="toggle_view_mode()" type="button" class="sb-button sb-button-white"><!--
            --><span class="glyphicon glyphicon-adjust"></span><!--
        --></button><!--
        --><button ng-click="show_user_details_dialogue()" type="button" class="sb-button sb-button-white"><!--
            --><span class="glyphicon glyphicon-option-vertical"></span><!--
        --></button>
    </div>

    <!-- -------------------------------- -->
    <!-- CELLS -->
    <!-- -------------------------------- -->

    <div class="sb-cell-container" id="cell-container"><!--
        --><span ng-repeat="cell in cells | filter:{name: searchFor} | orderBy: ['-fav', 'name']"><!--

            SMALL CELL
            --><div class="sb-cell" ng-show="view_mode=='1'"><!--
                --><div class="sb-cell-header sb-cell-header-small">{{cell.name}}</div><!--
                --><button ng-click="show_cell_dialogue(cell)" type="button" class="sb-button sb-colour-grey sb-float-right"><!--
                    --><span class="glyphicon glyphicon-option-vertical"></span><!--
                --></button><!--
            --></div><!--

            MEDIUM CELL
 ng-click="launch(cell.url)"
            --><div class="sb-cell" ng-show="view_mode=='2'" ><!--
                --><img ng-src="{{cell.image || default_image}}" class="sb-medium-image"><!--
                --><div class="sb-cell-header sb-cell-header-medium">{{cell.name}}</div><!--
                --><button ng-click="show_cell_dialogue(cell)" type="button" class="sb-button sb-colour-grey sb-float-right"><!--
                    --><span class="glyphicon glyphicon-option-vertical"></span><!--
                --></button><!--
            --></div><!--

            LARGE CELL
            --><div class="sb-cell" ng-show="view_mode=='3'"><!--
                --><div class="sb-large-image-container"><img ng-src="{{cell.image || default_image}}" class="sb-large-image"></div><!--
                --><div class="sb-cell-header sb-cell-header-large">{{cell.name}}</div><!--
                --><button ng-click="show_cell_dialogue(cell)" type="button" class="sb-button sb-colour-grey sb-float-right"><!--
                    --><span class="glyphicon glyphicon-option-vertical"></span><!--
                --></button><!--
            --></div><!--

        --></span><!--
    --></div>
</div>

<!-- -------------------------------- -->
<!-- UPDATING OR ADDING CELL DIALOGUE -->
<!-- -------------------------------- -->

<div ng-show="updateing_cell || adding_cell" class="sb-modal-background">
    <div class="sb-dialogue"><!--

        --><div ng-show="updateing_cell" class="sb-dialogue-header">Edit Cell</div><!--
        --><div ng-hide="updateing_cell" class="sb-dialogue-header">Add Cell</div><!--
        --><button ng-hide="new_cell_data.fav" ng-click="set_favourite(new_cell_data, true)" type="button" class="sb-button sb-edit-cell-fav"><!--
            --><span class="glyphicon glyphicon-star-empty"></span><!--
        --></button><!--
        --><button ng-show="new_cell_data.fav" ng-click="set_favourite(new_cell_data, false)" type="button" class="sb-button sb-edit-cell-fav"><!--
            --><span class="glyphicon glyphicon-star"></span><!--
        --></button><!--
        --><button ng-click="hide_edit_window()" type="button" class="sb-button sb-float-right"><!--
            --><span class="glyphicon glyphicon-remove"></span><!--
        --></button><!--
        --><div class="alert alert-danger" ng-show="add_cell_error" role="alert">{{add_cell_error}}</div><!--
        --><div class="alert alert-danger" ng-show="update_cell_error" role="alert">{{update_cell_error}}</div><!--
        --><table class="sb-table">
        <tr>
            <td class="sb-td sb-td-label">Name</td>
            <td class="sb-td sb-td-value"><input style="margin: 0" class="sb-form-input" placeholder="Name" ng-model="new_cell_data.name"/></td>
        </tr>
        <tr>
            <td class="sb-td sb-td-label">URL</td>
            <td class="sb-td sb-td-value"><input style="margin: 0" class="sb-form-input" placeholder="URL" ng-model="new_cell_data.url"/></td>
        </tr>
        <tr>
            <td class="sb-td sb-td-label">Image</td>
            <td class="sb-td sb-td-value-2"><form name="myForm" style="display: inline-block; width: 100%; margin: 0"><!--
            --><input type="file" ngf-select ng-model="new_image" name="file" id="file" class="sb-image-upload-hidden" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile"><!--
            what is ngf??????????
            --><label ng-hide="new_image || new_cell_data.image"  for="file" style="margin: 0" class="sb-image-upload"><span class="glyphicon glyphicon-cloud-upload"></span></label><!--

            --><img ngf-thumbnail="get_image()" class="sb-edit-cell-thumbnail img-rounded"><!--
            --><button ng-show="new_image || new_cell_data.image" ng-click="remove_image()" type="button" class="sb-button sb-border"><!--
                --><span class="glyphicon glyphicon-remove"></span><!--
            --></button><!--
        --></form></td>
        </tr>
    </table>

    <table class="sb-table">
        <tr>
            <td class="sb-td sb-td-label">Notes</td>
            <td class="sb-td sb-td-value"><input style="margin: 0" class="sb-form-input" placeholder="Notes" ng-model="new_cell_data.notes"/></td>
        </tr>
    </table><!--

    --><button ng-show="updateing_cell" ng-click="accept_clicked(new_cell_data)" type="button" class="sb-button sb-button-text sb-float-right"><!--
        -->Update <span class="glyphicon glyphicon-ok"></span><!--
    --></button><!--

    --><button ng-hide="updateing_cell" ng-click="accept_clicked(new_cell_data)" type="button" class="sb-button sb-button-text sb-float-right"><!--
        -->Add <span class="glyphicon glyphicon-ok"></span><!--
    --></button><!--

    --><button ng-show="updateing_cell" ng-click="delete_cell(new_cell_data)" type="button" class="sb-button sb-button-text"><!--
        -->Delete <span class="glyphicon glyphicon-trash"></span><!--
    --></button><!--

    --></div>
</div>

<!-- -------------------------------- -->
<!-- UPDATING USER -->
<!-- -------------------------------- -->
<div ng-show="show_user_details" class="sb-modal-background">
    <div class="sb-dialogue"><!--

        --><div class="sb-dialogue-header">User Details</div><!--
        --><button ng-click="hide_user_details_dialogue()" type="button" class="sb-button sb-float-right"><!--
            --><span class="glyphicon glyphicon-remove"></span><!--
        --></button><!--
        --><div class="alert alert-danger" ng-show="update_user_error" role="alert">{{update_user_error}}</div><!--
        --><label class="sb-dialogue-text">Click a field to change the value then click the update button to save.</label><!--
        --><table class="sb-table">
        <tr>
            <td class="sb-td sb-td-label">User Name: </td>
            <td class="sb-td sb-td-label">{{new_user_data.name}}</td>
        </tr>
        <tr>
            <td class="sb-td sb-td-label">Password: </td>
            <td class="sb-td sb-td-value"><input style="margin: 0" type="password" class="sb-form-input" placeholder="Password" ng-model="new_user_data.password"/></td>
        </tr>
        <tr>
            <td class="sb-td sb-td-label">Email: </td>
            <td class="sb-td sb-td-value"><input style="margin: 0" class="sb-form-input" placeholder="Email" ng-model="new_user_data.email"/></td>
        </tr>
    </table><!--
    --><div><!--

            --><button ng-click="delete_all_cells()" type="button" class="sb-button sb-button-text sb-button-bottom-space"><!--
                -->Delete Cells<span class="glyphicon glyphicon-remove"></span><!--
            --></button><!--

            --><button ng-click="export_csv()" type="button" class="sb-button sb-button-text sb-button-bottom-space"><!--
                -->Export CSV <span class="glyphicon glyphicon-export"></span><!--
            --></button>

        <input type="file" id="cells_csv" accept=".csv" ngf-select ng-model="new_cells_csv">

        <!--
            --><button ng-show="new_cells_csv" ng-click="import_csv()" type="button" class="sb-button sb-button-text sb-button-left-space"><!--
                -->apply <span class="glyphicon glyphicon-import"></span><!--
            --></button><!--

        --></div><!--
        --><button ng-click="logout()" type="button" class="sb-button sb-button-text"><!--
            -->Logout <span class="glyphicon glyphicon-log-out"></span><!--
        --></button><!--
        --><button ng-click="update_user_clicked(new_user_data)" type="button" class="sb-button sb-button-text sb-float-right"><!--
            -->Update <span class="glyphicon glyphicon-ok"></span><!--
        --></button>
    </div>
</div>